name: Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Build
        uses: geode-sdk/build-geode-mod@main
        id: build
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: LevelDecorator
          path: ${{ steps.build.outputs.build-output }}
